// **********************************************************************
// **                                                                  **
// **             changes to this file affect many users.              **
// **           please discuss on the talk page before editing         **
// **                                                                  **
// **********************************************************************
// **                                                                  **
// ** if you do edit this file, be sure that your editor recognizes it **
// ** as utf8, or the weird and wonderful characters in the namespaces **
// **   below will be completely broken. You can check with the show   **
// **            changes button before submitting the edit.            **
// **                      test: مدیا מיוחד Мэдыя                      **
// **                                                                  **
// **********************************************************************
/* eslint-env browser  */
/* global $, jQuery, mw, window */

// Fix later
/* global log, errlog, popupStrings, wikEdUseWikEd, WikEdUpdateFrame */

$(function () {
	// STARTFILE: main.js
	// ENDFILE: main.js

	// STARTFILE: actions.js
	// ENDFILE: actions.js

	// STARTFILE: domdrag.js
	// ENDFILE: domdrag.js

	// STARTFILE: structures.js
	// ENDFILE: structures.js

	// STARTFILE: autoedit.js
	// ENDFILE: autoedit.js

	// STARTFILE: downloader.js
	// ENDFILE: downloader.js

	// STARTFILE: livepreview.js
	// ENDFILE: livepreview.js

	// STARTFILE: pageinfo.js
	// ENDFILE: pageinfo.js

	// STARTFILE: titles.js
	// ENDFILE: titles.js

	// STARTFILE: getpage.js
	// ENDFILE: getpage.js
	// STARTFILE: parensplit.js
	// ENDFILE: parensplit.js

	// STARTFILE: tools.js
	// ENDFILE: tools.js

	// STARTFILE: dab.js
	// ENDFILE: dab.js

	// STARTFILE: htmloutput.js
	// ENDFILE: htmloutput.js

	// STARTFILE: mouseout.js
	// ENDFILE: mouseout.js

	// STARTFILE: previewmaker.js
	// ENDFILE: previewmaker.js

	// STARTFILE: querypreview.js
	// ENDFILE: querypreview.js

	// STARTFILE: debug.js
	// ENDFILE: debug.js

	// STARTFILE: images.js
	// ENDFILE: images.js

	// STARTFILE: namespaces.js
	// ENDFILE: namespaces.js

	// STARTFILE: selpop.js
	// ENDFILE: selpop.js

	// STARTFILE: navpopup.js
	// ENDFILE: navpopup.js

	// STARTFILE: diff.js
	// ENDFILE: diff.js

	// STARTFILE: init.js
	// ENDFILE: init.js

	// STARTFILE: navlinks.js
	// ENDFILE: navlinks.js

	// STARTFILE: shortcutkeys.js
	// ENDFILE: shortcutkeys.js

	// STARTFILE: diffpreview.js
	// ENDFILE: diffpreview.js

	// STARTFILE: links.js
	// ENDFILE: links.js

	// STARTFILE: options.js
	// ENDFILE: options.js

	// STARTFILE: strings.js
	// ENDFILE: strings.js

	// STARTFILE: run.js
	// ENDFILE: run.js
});
